.overlayBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--overlay-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; /* Ensure it's on top of everything */
  color: var(--text-on-primary);
}

.overlayContent {
  text-align: center;
}

.overlayContent p {
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 1rem;
}
